/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .tr1 { font-size: 20px; color: coral;
    border-top: solid 2px #c2e08f; border-bottom: solid 2px #c2e08f;
    border-left: solid 2px #c2e08f; border-right: solid 2px #c2e08f; }

.tr2 { border-top: solid 2px #c2e08f; border-bottom: solid 2px #c2e08f; 
     border-left: solid 2px #c2e08f; border-right: solid 2px #c2e08f; }

.tr3 { color: green; font-size: 20px;
     border-top: solid 2px #c2e08f; border-bottom: solid 2px #c2e08f;
     border-left: solid 2px #c2e08f; border-right: solid 2px #c2e08f; }

.navbar-brand {font-size: 25px; font-weight: bold; color: purple; }
